In [2]:
import pandas as pd

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('your_file.csv')

In [4]:
# Create a Series from a list
#A Series is a one-dimensional labeled array in Pandas. It can be thought of as 
#a single column of data with labels or indices for each element. You can create
# a Series from various data sources, such as lists, NumPy arrays, or dictionaries
data = [10, 20, 30, 40, 50]
s = pd.Series(data)

print(s)
print(type(s))

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
print(s[2])     # Access the element with label 2 (value 30)

30

In [6]:
#Accessing by position
print(s.iloc[3]) # Access the element at position 3 (value 40)

40

In [7]:
print(s[1:4])   # Access a range of elements by label

1    20
2    30
3    40
dtype: int64

In [ ]:
#values: Returns the Series data as a NumPy array.
#index: Returns the index (labels) of the Series.
#shape: Returns a tuple representing the dimensions of the Series.
#size: Returns the number of elements in the Series.
#mean(), sum(), min(), max(): Calculate summary statistics of the data.
#unique(), nunique(): Get unique values or the number of unique values.
#sort_values(), sort_index(): Sort the Series by values or index labels.
#isnull(), notnull(): Check for missing (NaN) or non-missing values.
#apply(): Apply a custom function to each element of the Series.

In [ ]:
#A DataFrame is a two-dimensional labeled data structure with columns of 
#potentially different data types. Think of it as a table where each column 
#represents a variable, and each row represents an observation or data point.
# DataFrames are suitable for a wide range of data, including structured data
# from CSV files, Excel spreadsheets, SQL databases, and more.

In [8]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)

print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [9]:
#Column Selection:
print(df['Name'])  # Access the 'Name' column

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [16]:
#Accessing Rows:
print(df.iloc[2])   # Access the third row by position
print(df.loc[1])    # Access the second row by label

Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object
Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object

In [11]:
#Slicing:
print(df[['Name', 'Age']])  # Select specific columns
print(df[1:3])             # Select specific rows

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [17]:
#Finding Unique Elements:
#Use the unique method to determine the unique elements in a column of a DataFrame.
unique_dates = df['Age'].unique()
unique_dates

array([25, 30, 35, 28], dtype=int64)

In [18]:
#Conditional Filtering:
#ou can filter data in a DataFrame based on conditions using inequality operators.
high_above_102 = df[df['Age'] > 25]
high_above_102

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [20]:
df
type(df)

pandas.core.frame.DataFrame